body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

header {
  grid-column: 1;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px;
  background-color: #1992d4;
  color: white;
}

header .logo-wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 5px;
}

header .logo-wrapper h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

header .logo-wrapper .logo {
  width: 48px;
  height: 48px;
  justify-self: center;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  margin-bottom: 5px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 7px 0;
  font-weight: 600;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 5px;
}

header .icon {
  justify-self: center;
}

.top-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.search-notific {
  grid-column: 2;
  grid-row: 1;

  .search-box,
  .notification {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;

    input {
      border: none;
      outline: none;
      font-size: 0.9rem;
      border-radius: 15px;
      width: 600px;
      height: 20px;
      background-color: #e0e1e2;
      padding: 15px;
    }

    .fa-face-grin-beam {
      font-size: 2rem;
      color: #1992d4;
      cursor: pointer;
    }

    .name {
      font-weight: 600;
    }
  }

  .extra-gap {
    gap: 20px;
  }

  .scale-effect {
    color: #000000;
    transition: transform 0.1s ease;
  }
  .scale-effect:active {
    transform: scale(0.9); /* Shrinks slightly */
  }

  .icon-btn {
    cursor: pointer;
  }
}

.profile-links {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;

  .profile {
    display: flex;
    align-items: center;
    gap: 10px;

    .fa-face-grin-beam {
      font-size: 3rem;
      color: #1992d4;
      cursor: pointer;
    }

    .greeting {
      display: flex;
      flex-direction: column;
      font-weight: 700;

      :first-child {
        font-size: 0.7rem;
      }
      :last-child {
        font-size: 1.2rem;
      }
    }
  }

  .options {
    display: flex;
    list-style: none;
    gap: 30px;

    li {
      /* width: 200px; */

      a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        cursor: pointer;
        padding: 5px 15px;
        background-color: #1992d4;
        border-radius: 20px;
        display: inline-block;
        width: 100px;
        text-align: center;
        font-weight: 600;
        transition: transform 0.1s ease;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: azure;
          color: #1992d4;
        }

        &:active {
          transform: scale(0.9); /* Shrinks slightly */
        }
      }
    }
  }
}

.content {
  grid-column: 2;
  grid-row: 3;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr 300px;
  /* gap: 40px; */
  max-width: 1400px;
  margin: 0 auto;

  main {
    padding: 20px;

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 24px;

      .card {
        background-color: #fff;
        border-radius: 8px;
        padding: 24px;
        border-left: 8px solid #f5c02e;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 24px;

        h3 {
          font-size: 1.1rem;
          font-weight: 700;
          margin-bottom: 8px;
          color: #1a202c;
        }

        p {
          font-size: 0.9rem;
          color: #4a5568;
        }

        .card-icons {
          display: grid;
          grid-auto-flow: column;
          justify-content: end;
          gap: 16px;

          .icon {
            width: 20px;
            height: 20px;
            fill: none;
            stroke: #2d3748;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            cursor: pointer;
            transition: stroke 0.2s;

            &:hover {
              stroke: #f5c02e;
            }
          }
        }
      }
    }
  }

  .right-sidebar {
    display: grid;
    gap: 30px;

    .announcement {
      display: grid;
      gap: 15px;
      margin-top: 20px;

      h2 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .announcement-content {
        display: grid;
        gap: 20px;
        background-color: #fff;
        padding: 24px;
        border-radius: 8px;
        margin-right: 20px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

        .divider {
          height: 1px;
          background-color: #e7e7e7;
          width: 100%;
        }

        .announcement-item {
          display: grid;
          gap: 8px;

          h4 {
            color: #1e293b;
            font-size: 0.95rem;
            font-weight: 600;
          }

          p {
            color: #64748b;
            font-size: 0.8rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }

    .trending {
      display: grid;
      gap: 15px;
      margin-bottom: 20px;

      h2 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .trending-content {
        display: grid;
        gap: 20px;
        background-color: #fff;
        padding: 24px;
        border-radius: 8px;
        margin-right: 20px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

        .trending-item {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 15px;

          .trending-profiles {
            display: grid;

            span:nth-child(1) {
              font-size: 0.95rem;
              color: #1e293b;
            }
            span:nth-child(2) {
              font-size: 0.8rem;
              color: #64748b;
            }
          }

          .icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
