body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

header {
  grid-column: 1;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px;
  background-color: #1992d4;
  color: white;
}

header .logo-wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 5px;
}

header .logo-wrapper h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

header .logo-wrapper .logo {
  width: 48px;
  height: 48px;
  justify-self: center;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  margin-bottom: 5px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 7px 0;
  font-weight: 600;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 5px;
}

header .icon {
  justify-self: center;
}

.search-notific {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  .search-box,
  .notification {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;

    input {
      border: none;
      outline: none;
      font-size: 0.9rem;
      border-radius: 15px;
      width: 600px;
      height: 20px;
      background-color: #e0e1e2;
      padding: 15px;
    }

    .fa-face-grin-beam {
      font-size: 2.5rem;
      color: #1992d4;
      cursor: pointer;
    }

    .name {
      font-weight: 600;
    }
  }

  .extra-gap {
    gap: 20px;
  }

  .scale-effect {
    color: #333;
    transition: transform 0.1s ease;
  }
  .scale-effect:active {
    transform: scale(0.9); /* Shrinks slightly */
  }

  .icon-btn {
    cursor: pointer;
  }
}

.profile-links {
  grid-column: 2;
  grid-row: 2;
}

.content {
  grid-column: 2;
  grid-row: 3;
}
